
body {
	background: url(http://3.bp.blogspot.com/_5fZUf6DcXic/SORQA8AtZ2I/AAAAAAAAAFA/LLUiJtt_Va4/s1600/texturesfree.com04341.jpg);
}
.row{
 background-color: rgba(255,255,255,.6);
 min-height: 800px; 
}

