<!doctype html>
<html>
  <head>
    <link href="http://cdn.foundation5.zurb.com/foundation.css" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" href="style.css"> -->
  </head>
  <body>
	<div class="row">
  <div class="small-4 small-centered columns">
    <h1>EDIT</h1>
		 <form action="/people/<%= person.id %>?_method=put" method="post">
  		<input type="text" name="firstName"><br>
  		<input type="text" name="lastName"><br>
  		<input type="submit" value="Update Person">
  	</form>
  </div>
  </div>
  </body>
</html>