<!doctype html>
<html>
  <head>
  </head>
  <body>
    People Index
      <ul>
	<% people.forEach(function (x) { %>
		<li><a href="/people/<%= x.id %>"> <%= x.firstname + ' ' + x.lastname %></a> </li>
		<% }) %>
  </ul>
  </body>
</html>