<!doctype html>
<html>
  <head>
  </head>
  <body>
  	<form method="post" action="/people">
  		<input type="text" name="people[firstName]"><br>
  		<input type="text" name="people[lastName]"><br>
  		<button>Create Person</button>

  	</form>
  </body>
</html>